.FileField {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #999999;
    border-radius: 10px;
}

.Agent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
} 

.Agent > .FileField > .Text {
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: white;
}

.User {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.User > .FileField > .Text {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    color: white;
}

.FileContainer {
    /* max-height: 200px;
    max-width: 100px;
    width: 100%;
    height: 100%; */
    padding: 40px;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 2px black;
}

.File {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:-webkit-any-link {
    color: white;
    text-decoration: unset;
}


.FileContainer:hover {
    cursor: pointer;
}
