.ImageField {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #999999;
    border-radius: 10px;
}

.Agent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
} 

.Agent > .ImageField > .Text {
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: white;
}

.User {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.User > .ImageField > .Text {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    color: white;
}

.ImageContainer {
    min-width: 100%;
    max-height: 350px;
    max-width: 350px;
    display: flex;
    justify-content: flex-end;
}

.Image {
    height: 100%;
    width: 100%;
}