.TextField {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#999999;
    border-radius: 10px;
}

.Agent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
} 

.Agent > .TextField > .Text {
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: white;
}

.User {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.User > .TextField > .Text {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    color: white;
}